.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 110px;

    width: 100%;
}

.container section {
    display: flex;
    justify-content: space-around;
    gap: 40px;

    background-color: white;

    border-radius: 20px;
    margin-top: 40px;
    padding: 30px;
    width: 80%;
}

.container section:nth-child(3){
    justify-content: center;
    align-items: center;
}

.container h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.container p {
    line-height: 1.6em;
}

.container img {
    width: 300px;
    border-radius: 20px;
}

@media (max-width: 1000px) {
    .container section {
        flex-wrap: wrap;
    }
}