.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.title_and_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;

    padding-top: 110px;

    background-image: url('../../img/bg.png');
    background-size: 100% 85%;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 500px;

    color: #FFF;
    text-shadow: 0px 0px 3px black;
}

.title h1 {
    font-weight: bold;
    font-size: 5em;
    text-align: center;

    margin: 0px 20px;
}

.title p {
    font-size: 1.5em;
    text-align: center;

    margin: 0px 30px;
}

.card_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px 10% 0px 10%;
}

.card_container article {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFF;
    width: 400px;
    height: 300px;
    padding: 1em;
    margin: 20px;
    border-radius: 20px;
}

.card_container article svg {
    font-size: 5em;
    margin: 0.5em 0px;
    background-image: linear-gradient(45deg, #6FF8D2, #A672FE);
    border-radius: 10px;
    padding: 10px;
}

.card_container article h2 {
    margin-bottom: 1em;
    font-weight: bold;
}


.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    background-color: #fff;
    width: 70%;
    margin-top: 150px;
    padding: 30px;
    border-radius: 20px;
}

.services article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.services h3{
    font-size: 2em;
    font-weight: bold;
}

.services p{
    font-size: 1.1em;
}

.services svg{
    font-size: 25em;
    height: 90%;
    background-image: linear-gradient(45deg, #6FF8D2, #A672FE);
    border-radius: 10px;
    padding: 20px;
}

@media (max-width: 850px) {
    .title h1{
        font-size: 3em;
    }
    
    .title p{
        font-size: 1.2em;
    }

    .services article{
        padding: 10px;
        flex-direction: column;
    }

    .services article:nth-child(2){
        flex-direction: column-reverse;
    }

    .services p {
        font-size: 1em;
    }

    .services svg{
        height: 100px;
        width: 200px
    }
}