.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 110px;

    width: 100%;
}

.container header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 80%;
    margin-bottom: 30px;
}

.container h1{
    font-weight: bold;
    font-size: 5em;

    background: linear-gradient(135deg, #ffffff, #709dfd);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    padding: 10px;
    border-radius: 20px;
}

.container section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    width: 80%;
}

@media (max-width: 800px) {
    .container header{
        justify-content: center;
    }
}