.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;

    margin-top: 100px;
    padding: 50px;
    width: 100%;

    background-color: #000;
    color: white;
}

.container h2 {
    font-size: 2em;
}

.container section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container section svg{
    font-size: 2em;

    transition: all 0.4s ease;
}

.container a {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
}

.container ul {
    list-style: none;
}

.container section svg:hover {
    scale: 105%;
    opacity: 75%;
}

.logo{
    width: 100px;
}